nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

/* Swiper */
.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: black; /* ส้ม */
}

.custom-swiper .swiper-pagination-bullet {
  background-color: gray; /* ส้ม */
}

.custom-swiper .swiper-pagination-bullet-active {
  background-color: black; /* ขาว */
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px; /* ความสูงเส้น */
  background: #f97316; /* สีส้ม orange-500 */
  transform-origin: 0%;
  z-index: 1000; /* ถ้าอยากให้ทับ Navbar */
  /* หรือ z-index: 998; ถ้าอยากให้อยู่ใต้ Navbar */
}

